.git/
.gitignore
.venv/
venv/
env/
__pycache__/
*.pyc
*.pyo
*.swp
*.swo
*.log
*.sqlite3
db.sqlite3
.DS_Store
/media/
/staticfiles/
/static/
/tmp/
.coverage
.README.md
.python-version
.env
.env.example
.env.local

!dockerfile
!docker-compose.yml
!pyproject.toml
!manage.py
!simple_blog/**
!apps/**

# Self-signed certificates
nginx/certs/nginx.crt
nginx/certs/nginx.key
